﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="Content/Styles/app.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="appController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">AcOrganizer</a>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-if="userName">
                <li><a>Logged as {{userName}} {{userSurname}}</a></li>
                <li><a href ng-click="logout()">Log out</a></li>
            </ul>
        </div>
    </nav>

    <div ng-view>

    </div>

    <script src="Scripts/lib/jquery.min.js"></script>
    <script src="Scripts/lib/moment.min.js"></script>
    <script src="Scripts/fullcalendar.min.js"></script>

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/appController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/registerController.js"></script>
    <script src="app/controllers/adminController.js"></script>
    <script src="app/controllers/calendarController.js"></script>
    <script src="app/controllers/groupController.js"></script>
    <script src="app/filters/filters.js"></script>
</body>
</html>