﻿<div class="container">
    <h2>Admin</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Group name</th>
                    <th>Subject</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in groups">
                    <td>{{group.groupName}}</td>
                    <td>{{group.subject}}</td>
                    <td>{{group.type}}</td>
                    <td><button type="submit" class="btn btn-primary" ng-click="manage(group.groupName)">Manage</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Group name" ng-model="newGroup.groupName" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Subject" ng-model="newGroup.subject" />
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="newGroup.type">
                <option value="">-Select type-</option>
                <option value="exercise">Excercise</option>
                <option value="lab">Lab</option>
                <option value="lecture">Lecture</option>
            </select>
        </div>
        <br />
        <div class="form-group" ng-show="newGroup.type == 'exercise'">
            <select ng-model="newGroup.lecturerEmail" class="form-control">
                <option value="">-Select lecturer-</option>
                <option ng-repeat="lecturer in lecturers" value="{{lecturer.email}}">{{lecturer.name}}</option>
            </select>
        </div>
        <div class="form-group" ng-show="newGroup.type == 'lab'">
            <select ng-model="newGroup.lecturerEmail" class="form-control">
                <option value="">-Select engineer-</option>
                <option ng-repeat="lecturer in lecturers" value="{{lecturer.email}}">{{lecturer.name}}</option>
            </select>
            <input class="form-control" ng-model="newGroup.tool" type="text" placeholder="Tool" />
        </div>
        <div class="form-group" ng-show="newGroup.type == 'lecture'">
            <select ng-model="newGroup.lecturerEmail" class="form-control">
                <option value="">-Select professor-</option>
                <option ng-repeat="lecturer in lecturers" value="{{lecturer.email}}">{{lecturer.name}}</option>
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-default" ng-click="addGroup()">Add</button>
        <br />
        <br />

    </form>
</div>