﻿<div class="container">
    <h2>Calendar</h2>
    <div class="form-group" ng-show="userType === 'Lecturer'">
        <input type="text" placeholder="Title" ng-model="eventToEdit.title" required />
        <input type="text" placeholder="Description" ng-model="eventToEdit.description" />
        <input type="datetime-local" placeholder="Start date" ng-model="eventToEdit.start" required />
        <select ng-model="eventToEdit.group" ng-options="group.groupName as group.groupName for group in groups | filter: group.lecturerEmail = userEmail"></select>
        <select ng-model="eventToEdit.type">
            <option value="">-Select type-</option>
            <option value="Event">Simple event</option>
            <option value="ClassEvent">Class</option>
            <option value="ExamEvent">Exam</option>
            <option value="SocialEvent">Social</option>
            <option value="LectureEvent">Lecture</option>
        </select>
        <button ng-if="!editing" type="submit" ng-click="addEvent()">Add</button>
        <button ng-if="editing" type="submit" ng-click="editEvent()">Edit</button>
        <button ng-if="editing" type="button" ng-click="deleteEvent()">Delete</button>
        <button ng-if="editing" type="button" ng-click="cancel()">Cancel</button>
    </div>
    <div class="form-group" ng-show="userType === 'Student'">
        <input type="text" placeholder="Title" ng-model="eventToEdit.title" readonly />
        <input type="text" placeholder="Description" ng-model="eventToEdit.description" readonly/>
        <input type="datetime-local" placeholder="Start date" ng-model="eventToEdit.start" readonly />
        <input type="text" placeholder="Group" ng-model="eventToEdit.group" readonly/>
        <input type="text" placeholder="Type" ng-model="eventToEdit.type" readonly/>
    </div>
    <div id="calendar"></div>
</div>