﻿<div class="container">
    <h2>Admin</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Surname</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in groupStudents">
                    <td>{{student.email}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.surname}}</td>
                </tr>
            </tbody>
        </table>
        <form class="form-inline">
            <div class="form-group">
                <label>Add student: </label><br />
                <select ng-model="newStudent" ng-options="student.email as student.name for student in students"></select>
            </div>
            <a ng-click="addToGroup(newStudent)" class="btn btn-success">Add to group</a>
        </form>
    </div>
    <br />
</div>