﻿<div class="login">
    <div class="well" style="align-self: center;">
        <div>
            <h2>Log in</h2>
            <div class="form-inline">
                <div class="form-group">
                    <label>Email: </label>
                    <input ng-model="email" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Password: </label>
                    <input ng-model="password" type="password" class="form-control" required />
                </div>
            </div>
            <div style="margin-top:10px">
                <a ng-click="register()" class="btn btn-primary">REGISTER</a>
                <a ng-click="loginAsAdmin()" class="btn btn-primary">LOGIN AS ADMIN</a>
                <a ng-click="loginAsLecturer()" class="btn btn-primary">LOGIN AS LECTURER</a>
                <a ng-click="loginAsStudent()" class="btn btn-primary">LOGIN AS STUDENT</a>
            </div>
        </div>
    </div>
</div>