﻿<div class="login">
    <div class="well" style="align-self: center;">
        <div class="register">
            <h2>Register</h2>
            <div class="form">
                <div class="form-group">
                    <label>*Email: </label>
                    <input ng-model="email" type="text" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>*Password: </label>
                    <input ng-model="password" type="password" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Name: </label>
                    <input ng-model="name" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Surname: </label>
                    <input ng-model="surname" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <form>
                        <label>Register as: </label><br />
                        <label>
                            <input type="radio" ng-model="userType" value="Admin" name="userType">
                            Admin
                        </label><br />
                        <label>
                            <input type="radio" ng-model="userType" value="Lecturer" name="userType">
                            Lecturer
                        </label><br />
                        <label>
                            <input type="radio" ng-model="userType" value="Student" name="userType" checked>
                            Student
                        </label><br />
                    </form>
                </div>
                <div ng-show="userType == 'Student'" class="form-group">
                    <label>Dean Group: </label><br />
                    <select ng-model="deanGroup" ng-options="group.groupName as group.groupName for group in groups">
                    </select>
                </div>
                <div ng-show="userType == 'Lecturer'" class="form-group">
                    <label>Department: </label>
                    <input ng-model="department" type="text" class="form-control" />
                </div>

                <p>* - require</p>
            </div>
            <div style="margin-top:10px">
                <a ng-click="register()" class="btn btn-primary">REGISTER</a>
            </div>
        </div>
    </div>
</div>